@font-face {
    font-family: 'adihausdin';
    src: url('./assets/adihausDin.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Apply the custom font */
body {
    font-family: 'adihausdin';
}


